name: Create deployment artifacts for branch

on:
  push:
  pull_request:
  workflow_dispatch:
  issue_comment:
    types: [created]

env:
  BRANCH_NAME: main

jobs:
  get-pr-branch-name:
    name: Get PR branch name
    runs-on: ubuntu-20.04
    steps:
      - name: Echo
        run: |
          echo ${{ env.BRANCH_NAME }}
          echo ${BRANCH_NAME}

      - uses: zendesk/github-script@v4.0.1
        with:
          script: |
            if (context.payload.issue) {
              const { data: pr } = await github.request(context.payload.issue.pull_request.url)
              if (pr) {
                console.log(context.eventName, context, pr);
              } else {
                core.setFailed('failed to find PR with url ' + context.payload.issue.pull_request.url)
              }
            } else if (context.payload.pull_request) {
              const { data: pr } = await github.request(context.payload.pull_request.url)
              if (pr) {
                console.log(context.eventName, context, pr);
              } else {
                core.setFailed('failed to find PR with url ' + context.payload.issue.pull_request.url)
              }
            } else {
              console.log(context.eventName, context);
            }
